<!--TODO: 
    Set up basic form [Done]
    Set up form functionality (The form should validate the input fields-- especially
        whether the favored menu itm shortName (L1 for example) exists. Afterwards
        it should allow the user to submit the input to the local service for display
        in the user info page.)
    Rig up favMeal field to validate input exists via ng-blur!-->
<div class="container" id="sign-in">

<h2>Sign Up For Our Newsletter!</h2>
<h3>(Fields with * are required)</h3>

<form name="userSubmit" novalidate>
    <label>
        First Name
        <br>
        <input type="text" 
            ng-model="control.userInfo.fName"
            name="firstName"
            placeholder="John"/>
    </label><br>
    <label>
        Last Name <br>
        <input type="text" 
            ng-model="control.userInfo.lName"
            name='lastName'
            placeholder="Doe"/>
    </label><br>
    <label>
        Email Address* 
        <span ng-if="userSubmit.email.$error.required 
            && userSubmit.email.$touched">
            (This field is required!)
        </span>
        <br>
        <input type="text" 
            ng-model="control.userInfo.email"
            name="email"
            placeholder="X@emailservice.com"
            required/>
    </label><br>
    <label>
        Phone Number
        <span ng-if="userSubmit.phone.$invalid && userSubmit.phone.$touched">
            (Phone number is invalid!)
        </span>
        <br> 
        <input type="text" 
            ng-model="control.userInfo.phone"
            name="phone"
            placeholder="XXX-XXX-XXXX"
            pattern="(\d{3})-(\d{3})-(\d{4})"/>
    </label><br>

    <br><br>
    <label>
        Before you submit, what's your favorite meal item?<br>
        (In [category short name][meal item no.] format, i.e. L1)* 
        <br>
        <span ng-if="userSubmit.favMeal.$error.required
                && userSubmit.favMeal.$touched">
            (This field is required!) 
        </span>
        <span ng-if="control.verification.submitClicked 
                && !(control.verification.mealExists)">
            (This meal item does not exist!)
        </span>
        <span ng-if="control.verification.submitClicked 
                && control.verification.mealExists"
            style="color: #557c3e;">
            (Submission successful! You will find your input in the "User Info" menu)
        </span>
        <br>
        <input type="text" 
            ng-model="control.userInfo.favMeal"
            name="favMeal"
            required/>
    </label>
    
    <br>
    <input type="button" ng-click="control.reset()" value="Reset Form" />
    <input type="button" ng-click="control.submit()" value="Submit Form" 
        ng-disabled="userSubmit.$invalid"/>
</form>

</div>