<!doctype html>
<html lang="en" ng-app="narrowerApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="../../angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
<div class="container" ng-controller="narrowerController as control">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control"
        ng-model="control.searchInput">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="control.searchServer();">
        Narrow It Down For Me!
      </button>
    </div>

    <br><br><br>
    <h3 ng-if="listEmpty && initialized">
      Nothing found!
    </h3>
    <found-items found="foundList" on-remove="control.removeItem"/>
</div>
</body>
</html>
